body {
    font-family: PT Root UI, sans-serif;
}
.modal__title, .second_tittle__modal {
    color: #404040;
}
.second_tittle__modal {
    font-size: 1em;
}
#button-new-project {
    color: white;
    border: solid 1px slateblue;
    background-color: slateblue;
    box-shadow: 5px 5px 20px black;
}
/*first dialog new project*/
#modal-new-project {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container-from__modal-new-project {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    max-width: 450px;
    height: auto;
    padding: 40px 25px 20px 25px;
    box-sizing: border-box;
    margin: auto;
}

.modal__warning-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F2F8FE;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    position: relative;
}
.modal__warning__icon {
    border: solid 2px #008fff;
    border-radius: 50%;
    width: 13%;
    text-align: center;
    color: blue;
}

.modal__warning__icon, .link {
    color: #0076f5;
}

.modal__warning__message {
    font-size: 14px;
}

/*switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 10px; 
    vertical-align: middle;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e5e5ea;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #006fff;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.switch-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.switch-label {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/*Form first dialog*/

.first-modal__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label-one, .last-label {
    margin-top: 20px;
}

.first-modal__input {
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #E5E5EA;
    border-radius: 5px;
    margin-bottom: 12px;
}

.first-modal__input::placeholder, select {
    color: #BBBBBB;
}


#client-id, .container-last-label {
    display: none;
}

.icon-question {
    margin-left: 5px;
    display: inline-block;
    border: solid 2px #0076F5;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: #0076F5;
    text-align: center;
    cursor: pointer;
}
/*section 2*/

#section-two {
    display: none;
}
.hidden {
    display: none;
}

.custom-dropdown {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 16px;
    height: 16px;
}

.dropdown-body {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #F2F8FE;
}

#newFolderInputContainer {
    display: flex;
    padding: 10px;
}

input {
    flex: 1;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.incomplete-text {
    display: none;
    margin-top: 0;
    color: red;
    font-size: 0.7em;
}

#selectedText {
    font-size: 0.8em;
    color: #ccc;;
}

/* Section 3 */

#section-three {
    display: none;
    background-color: #f2f4f3;
    border-radius: 10px;
    border: solid transparent;
    padding: 0 10px;
    box-sizing: border-box;
}
.check-icon__section-three {
    border: solid 2px #009906;
    color: #009906;
    font-weight: bold;
    width: 5%;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}



/*? icon*/
.check-icon__section-three, .final-message__section-three {
    display: inline-block;
}
/*Buttons*/

button {
    padding: 7px 15px;
    cursor: pointer;
    font-weight: bold;
}

.modal__buttons__connect:hover,
.modal__buttons__save:hover,
.modal__buttons__end:hover{
    background-color: #ffffff;
    border: solid #006fff 1px;
    color: #006fff;
}

.modal__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 25px;
    text-align: center;
}
.button-next__modal__buttons {
    color: white;
    background-color: #0076f5;
    border: solid transparent 1px;
    border-radius: 5px;
}

.modal__buttons__save, .modal__buttons__end, .button-delete__modal-buttons  {
    display: none;
}

.modal__buttons__cancel {
    color: #006fff;
    border: solid transparent 1px;
    background-color: transparent;
}

.button-delete__modal-buttons {
    color: red;
    background-color: transparent;
    border: solid transparent 1px;
}

#button-new-project:hover {
    border: solid 1px slateblue;
    background-color: white;
    color: slateblue;
}

.button-delete__modal-buttons:hover,
.modal__buttons__cancel:hover {
    text-decoration: underline 2px;
}

.close-modal:hover {
    color: black;
}
/*Exit modal*/
.modal__form-close {
    position: absolute;
    right: 8%;
    top: 3%;
}

.close-modal {
    font-family: cursive;
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.2em;
    box-shadow: none;
}

@media screen and (max-width: 400px) {
    .container-from__modal-new-project {
        max-width: 80%;
        right: 10px;
    }

    .modal__information, .modal__title {
        text-align: center;
    }
    .modal__warning__message {
        font-size: 0.8em;
        text-align: left;
    }

    .modal__warning__icon {
        width: 30%;
    }
    #section-three {
        text-align: center;
    }
    .check-icon__section-three {
        margin-top: 10px;
        width: 10%;
    }
}